table {
  overflow-x: hidden;
  width: 100%;
  border-collapse: collapse;

  & td,
  & th {
    border: 1px solid #ddd;
    padding: 0.8rem;
    min-width: 10rem;
  }
  &tr:nth-child(even) {
    background: #f2f2f2;
  }
  & th {
    padding: 1.2rem 0;
    background: #555;
    color: $primary-white;
  }
  & .table-center-col {
    text-align: center;
  }
}

/*-------------- Responsive --------------*/

@include respond-to("medium") {
}
@include respond-to("large") {
}
